.userform {
    background-color: #343232c8;
    min-width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
}

.userform.active {
    transform: scale(1);
    transition: transform .5s;
}

.userform__form {
    background-color: #fff;
    width: 25%;
    min-width: 300px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.userform__header {
    display: flex;
    justify-content: space-between;
}

.userform__close {
    padding: 2px;
    border-radius: 50%;
    display: flex;
}

.userform__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userform__btn {
    background-color: #555a88;
    margin-top: 15px;
    padding: 10px;
    transition: transform .5s,
                filter .5s;
}

.userform__btn:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: transform .5s,
                filter .5s;
}